@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

$font-family-base: "Reem Kufi";

// $primary:   #7c6a0a;
// $secondary: #babd8d;
// $danger:    #eb6424;
// $light:     #f8f8f8;

// $primary:   #15616D;
// $secondary: #7b9e89;
// $danger:    #b92d2d;
// $light:     #f8f8f8;
     

$primary: #05668D;
$secondary: #696D7D;
$danger:    #b92d2d;
$light:     #f8f8f8;

html {
    font-size: 1rem;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  }
  
@import "../../node_modules/bootstrap/scss/bootstrap";
