@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

$font-family-base: "Reem Kufi";

$primary: #05668D;
$secondary: #696D7D;
$danger:    #b92d2d;
$light:     #f8f8f8;

@import "../../node_modules/bootstrap/scss/bootstrap";
